// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    height: 600px;
    width: 95%;
    margin: 25px auto;
}

.thumbnail-gallery {
    min-width: 42em;
    max-width: 68%;
    min-height: 600px;
    overflow: scroll;
    display: inline-block;
    border: 1px solid black;
    // padding: 30px 40px;

    & .thumb {
        margin: 10px;
        float: left;
        cursor: pointer;
        padding: 3px;
        border: 1px solid black;
        height: 150px;
        width: 200px;
        
        & img {
            height: 100%;
            width: 100%;
        }
    }
}

.details {
    width: 31%;
    min-width: 27em;
    min-height: 450px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    font-size: 12px;
    position: relative;

    & .detail-container {
        width: 93%;
        margin: 30px auto 10px;
    }

    & .status {
        margin: 10px auto 0;
        width: 100px;
        min-height: 24px;
        font-size: 18px;
        text-align: center;
    }

    & .zoomed-thumbnail {
        height: 20em;
        width: 100%;
        border: 1px solid black;
        padding: 2px;
        text-align: center;
        line-height: 300px;
        margin-bottom: .5em;

        & img {
            height: 100%;
            width: 100%;
            
        }
    }
    .editor {
        margin: 0 5px 10px;

        & .link-address {
            width: 100%;
            min-height: 23px;
            line-height: 23px;
            margin: 0 auto;

            & input {
                width: 90%;
            }
        }

        & .caption-quote {
            width: 100%;
            min-height: 23px;
            line-height: 23px;
            margin-bottom: 2em;

            & input {
                width: 84.5%;
            }
        }
    }
}
